*{
    margin: 0;
    padding: 0;
    font-family: 'Abril Fatface';
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(6, 35, 60, 0.7),rgba(28, 30, 4, 0.7)),url(Images/20230721_102755.jpg)
    ;
    background-position: center;
    background-size: cover;
    position: relative;

}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #b6ebeb;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: hsl(56, 100%, 61%);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after
{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 6%;
    left: 70%;
    transform: translate(-50%,-50%);
    text-align: left;
}
.text-box h1{
    font-size: 30px;
}
.main{
    height:100vh;
    width:100%;  
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
  }
.text-box2{
    width: 90%;
    color: #fff;
    position:absolute;
    top: 40%;
    left: 80%;
    transform: translate(-50%,-50%);
    text-align: left;
}
.text-box2 h1{
    font-size: 50px;
}
.roller{
    height: 4.125rem;
    line-height: 4rem;
    position:relative;
    overflow: hidden; 
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #fff;
  }
  
  
  #spare-time{
    font-size: 30px;
    font-style: italic;
    letter-spacing: 1rem;
    margin-top: 0;
    color: #A8DADC;
    
  }
  
  .roller #rolltext {
    position: absolute;
    top: 0;
    animation: slide 8s infinite;  
  }
  @keyframes slide {
    0%{
      top:0;
    }
    25%{
      top: -4rem;    
    }
    50%{
      top: -8rem;
    }
    72.5%{
      top: -12.25rem;
    }
  }
nav .fa{
    display: none;
}
.RESEARCH{
    width: 200px;
    height: 100px;
    background-color: #1572b0;
    position:absolute;
    cursor: pointer;
    top:110%;
    left: 10%;
  }
.RESEARCH a{
    color: #fbfcfc;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    top:30%;
    left:10%;
}
.NEWSLETTER{
    width: 240px;
    height: 100px;
    background-color: #acb541;
    position: absolute;
    top: 110%;
    left: 30%;
    cursor: pointer;
  }
.NEWSLETTER a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    top: 30%;
    left: 9%;
}
.CAREERS{
    width: 170px;
    height: 100px;
    background-color: #1572b0;
    cursor: pointer;
    position: absolute;
    top:110%;
    left:50%;
  }
.CAREERS a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    top:30%;
    left:12%;
}
.MANIT-ALUMNI{
    width: 170px;
    height: 100px;
    background-color: #acb541;
    cursor: pointer;
    position:absolute;
    top:110%;
    left:70%;
  }
.MANIT-ALUMNI a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    top:25%;
    left:20%;
}
.fa-solid{
    font-size: 30px;
    color: #000000;
    position: absolute;
    top: 50%; /* Adjust the vertical position */
    left: 80%; /* Adjust the horizontal position */
    transform: translate(-50%, -50%); /* Center the icon */
}
.fa-regular{
    font-size: 30px;
    color: #000000;
    position: absolute;
    top: 50%; /* Adjust the vertical position */
    left: 80%; /* Adjust the horizontal position */
    transform: translate(-50%, -50%); /* Center the icon */
}
.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color);
  }
  
  .btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(14, 127, 225, 0.5) !important;
   
  }
  
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #e1eb28 !important;
    
  }
  
  .btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
   
  }
  
  a:hover {
    color: #010000;
  }
  
  a:hover {
    --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
  }
  
  .btn-xl {
    position:absolute;
    top:55%;
    left:42%;
  }
  
  .btn-primary {
    background-color: #0ccaec;
    border-color: #f05f40;
    color: #fff;
    
  }
  
  .btn-xl {
    padding: 1rem 2rem;
  }
  
  .btn {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
    font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
  }
  
  .btn-primary {
    --bs-btn-color: #000;
    --bs-btn-bg: #F05F40;
    --bs-btn-border-color: #F05F40;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #f2775d;
    --bs-btn-hover-border-color: #f26f53;
    --bs-btn-focus-shadow-rgb: 204, 81, 54;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #f37f66;
    --bs-btn-active-border-color: #f26f53;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #F05F40;
    --bs-btn-disabled-border-color: #F05F40;
  }
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
        text-align: absolute;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: hsl(56, 70%, 59%);
        height: 100vh;
        width: 200px;
        top:0;
        right:-200px;
        text-align: left;
        z-index: 2;
        transition: 1s;;
    }
    nav .fa{
       display: block;
       color: #fff;
       margin: 10px;
       font-size: 22px;
       cursor: pointer;
    }
    .nav-links ul{
       padding: 30px;

    }
}
.nav2 img{
    width:120px;
}
